<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nodo N° {{ this.numeroNodo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">nodo</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <div id="highcharts" style="width:40%; height:300px; margin: 0 auto;" ></div>
  <br>
  <ion-button shape="round">Abrir Electrovalvula</ion-button>
  <br>
  <ion-button shape="round">Ver todas las mediciones</ion-button>
  <br>
  <ion-button shape="round">Ver Logs Riego</ion-button>
  </ion-card>

</ion-content>
