<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
  <ion-button (click)="CrearDisp()">Crear Dispositivo</ion-button>
  <br>
  <ion-button (click)="DeleteDisp()">Eliminar Dispositivo</ion-button>
</ion-header>

<ion-content color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dispositivos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item *ngFor="let dispositivo of this.listaDispositivos">
      <ion-label>{{dispositivo.nombre}}</ion-label>
      <ion-label>{{dispositivo.ubicacion}}</ion-label>
      <ion-label>{{dispositivo.electrovalvulaId}}</ion-label>
      <ion-button [routerLink]="'/nodo/' + dispositivo.dispositivoId">Ir a Nodo N°{{ dispositivo.dispositivoId }}</ion-button>
    </ion-item>
  </ion-list>    

</ion-content>

