ion-list {
    width: 70%; // ajusta el ancho de la tarjeta
    //height: 400px; // ajusta la altura de la tarjeta
    //margin: 0 auto; // centra la tarjeta horizontalmente
    //background-color: #FFF;
    text-align: center;
  }

  ion-item {
    //width: 50%; // ajusta el ancho de la tarjeta
    //height: 400px; // ajusta la altura de la tarjeta
    //margin: 0 auto; // centra la tarjeta horizontalmente
    //background-color: #FFF;
    text-align: center;
  }