<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mediciones de N° {{ this.numeroNodo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

<!-- 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de mediciones</ion-title>
    </ion-toolbar>
  </ion-header>
-->

  <ion-list class="list-container" [inset]="true"> 
    <ion-list-header>
      <ion-label>MEDICION</ion-label>
      <ion-label>FECHA</ion-label>
      <ion-label>VALOR</ion-label>
    </ion-list-header>     
    <ion-item *ngFor="let mediciones of this.listaMediciones">
      <ion-label>{{mediciones.medicionId}}</ion-label>  
      <ion-label>{{mediciones.fecha }}</ion-label>    
      <ion-label appColorear>{{ mediciones.valor | modData:'KPA' }}</ion-label>
    </ion-item>
  </ion-list>

<!-- 
  <ion-button>Cambiar Unidad</ion-button>
-->

</ion-content>


