<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>riego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">riego</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item *ngFor="let riego of this.listaRiego">
      <ion-label>{{riego.LogRiegoId}}</ion-label>
      <ion-label>{{riego.apertura}}</ion-label>
      <ion-label>{{riego.fecha}}</ion-label>
    </ion-item>
  </ion-list> 

</ion-content>
